.p-card-wrapper {
  display: flex;
  background-color: hsla(0, 0%, 7%, 0.5);
  border-radius: 0.75rem;
  gap: 2rem;
  /* width: 100%; */
  padding: 1rem;
  align-items: center;
  z-index: 100;
}
@media (max-width: 655px) {
  .p-card-wrapper {
    flex-direction: column;
  }
}
.p-img-container {
  /* height: 20rem; */
  flex-basis: 40%;
  border-radius: 0.75rem;
}
img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.p-content {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.p-links-cntainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
svg,
a {
  vertical-align: middle;
}
.link-holder {
  display: flex;
  /* align-items: center; */
  gap: 0.8rem;
}
