.p-card-wrapper {
  display: flex;
  background-color: hsla(0, 0%, 7%, 0.5);
  border-radius: 0.75rem;
  gap: 2rem;
  /* width: 100%; */
  padding: 1rem;
  align-items: center;
  z-index: 100;
}

@media (max-width: 667px) {
  .p-card-wrapper {
    flex-direction: column;
  }
}
.p-img-container {
  /* height: 20rem; */
  flex-basis: 40%;
  border-radius: 0.75rem;
}
img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  /* min-width: 100%; */
}
.p-content {
  /* flex: 1; */
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}
.p-links-cntainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
svg,
a {
  vertical-align: middle;
}
.link-holder {
  display: flex;
  /* align-items: center; */
  gap: 0.8rem;
}

.link-holder:hover {
  color: #fff;
}
.sp-link {
  text-transform: capitalize;
  letter-spacing: 0.6px;
}
.sp-link svg {
  transition: all 0.3s ease-in-out;
}

.sp-link:hover svg {
  transform: translateX(15%);
  transition: all 0.3s ease-in-out;
}
