/* @import url("https://fonts.googleapis.com/css2?family=Acme&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
html {
  font-size: 15px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-primary: ;
  /* --bg-secondary: #f54996; */
  --bg-secondary: rgb(222 29 141);

  --txt-color-primary: #f3f3f3;

  --txt-color-secondary-1: #06d79c;
  --txt-color-secondary-2: #d1d5db;
  --txt-color-secondary-3: #988e9f;

  --hero-bg: #0b0b0f;
  --main-bg: #000;
  --pg-padding: 7rem 0;
  --box-shadow-icons: 0px 0px 15px #fff;
}
body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-thumb {
  background-color: #222 !important;
}
::-webkit-scrollbar-track {
  background-color: #111 !important;
}

::selection {
  background-color: var(--bg-secondary);
  color: #fff; /* Replace with your desired color */
}

h3::selection {
  -webkit-text-fill-color: #fff;
}
a,
span {
  color: var(--txt-color-secondary-2);
}
a {
  text-decoration: none;
}
.some-class::before {
  border-bottom: 3px solid #d1d5db !important;
  color: #06d79c;
}
.Mui-error + .some-class::before {
  border-bottom: 3px solid #d32f2f !important;
}
.some-class::after {
  border-bottom: 3px solid #cf23cf !important;
}
h2,
h1,
h3,
h5,
.h4 {
  /* font-family: "Acme", sans-serif !important; */
  font-family: "Amatic SC", cursive !important;
  letter-spacing: 2px !important;
  font-weight: 900;
}

a:visited {
  color: inherit;
}
body {
  font-family: "Public Sans", sans-serif !important;

  background-color: var(--main-bg);
  color: var(--txt-color-primary);
}

.container {
  width: 100%;
}
.section {
  min-height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: var(--pg-padding);
}
.main {
  min-height: 100vh;
  overflow: hidden;
  padding: var(--pg-padding);
  width: 100%;
}
.section-p {
  max-width: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
@media (max-width: 913px) {
  .section-p,
  .section {
    max-width: 80%;
    width: 80%;
  }
}
@media (max-width: 799px) {
  .section-p,
  .section {
    max-width: 90%;
    width: 90%;
  }
}

.relative {
  position: relative;
}
.d-flex {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.d-flex-col {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.lazy-img {
  min-width: 22rem;
  width: 22rem;
  height: 10rem;
}
